@import '../utils/variables';
@import '../utils/mixins';

.wrap {
	position: relative;
}

.loader {
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 1;
}

.gallery {
	@include noList();
	margin: 0 -7.5px;
	min-height: 225px;
	width: 100%;

	li {
		display: inline-block;
		margin: 7.5px 0;
		padding: 0 7.5px;
		width: 50%;

		@include tabletUp {
			width: 25%;
		}
	}
}
