@import '../utils/mixins';
@import '../utils/variables';

.gallery {
	display: block;
}

.galleryInner {
	align-items: center;
	display: flex;
	flex-wrap: wrap;

	@include tabletUp {
		align-items: center;
	}
}

.galleryImage {
	padding: 15px;
	max-width: 200px;
	margin: 0 auto;

	@include tabletUp {
		max-width: 300px;
	}

	a {
		display: block;
		width: 100%;
	}
}
