@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.wrap {
	max-width: $containMedium;
	margin: 0 auto;
}

.reviewHeader {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;

	@include tabletUp {
		flex-direction: row;
	}
}

.reviewImage {
	border-radius: 50%;
	height: 150px;
	margin: 0 auto 20px;
	overflow: hidden;
	width: 150px;

	@include tabletUp {
		margin: 0 30px 0 0;
	}
}

.reviewDetails {
	margin: 0 auto;
	max-width: 800px;
	width: 100%;

	ul {
		@include noList();
		align-items: flex-start;
		border-top: 1px solid lighten($grey1, 70%);
		border-bottom: 1px solid lighten($grey1, 70%);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 15px 0;
		width: 100%;

		@include tabletUp {
			flex-wrap: nowrap;
		}

		li {
			padding: 0 15px;
			margin: 0 0 15px;
			width: calc(100% / 3);

			@include tabletUp {
				margin: 0;
			}

			&:not(:last-child) {
				@include tabletUp {
					border-right: 1px solid lighten($grey1, 70%);
				}
			}

			h3 {
				color: $purple;
				font-family: $fontHeadingAlt;
				margin: 0 0 15px;
			}
		}
	}
}

.rating {
	span {
		position: relative;

		&::before {
			content: '\2605';
			left: 0;
			color: gold;
		}
	}
}

.cta {
	margin-top: 40px;
	text-align: center;
}
