@import '../utils/mixins';
@import '../utils/variables';

.venues {
	ul {
		@include noList();
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		@include tabletUp {
			flex-direction: row;
		}

		li {
			flex: 100%;
			width: 100%;

			@include tabletUp {
				flex: 50%;
				max-width: 50%;
				width: 50%;
			}

			@include desktopUp {
				flex: calc(100% / 3);
				max-width: calc(100% / 3);
				width: calc(100% / 3);
			}

			@include widescreen {
				flex: 25%;
				max-width: 25%;
				width: 25%;
			}
		}
	}
}

.venue {
	display: block;
	height: 100%;
	position: relative;
	min-height: 276px;
	width: 100%;
}

.venueTitle {
	background-color: rgba($purple, 0.95);
	bottom: 0;
	left: 0;
	padding: 17px 10px;
	position: absolute;
	text-align: center;
	width: 100%;

	h3 {
		color: $white;
		font-family: $fontHeadingAlt;
		font-size: 18px;
		line-height: 24px;
		white-space: nowrap;
	}
}

.venueImage {
	height: 100%;
	width: 100%;
}

.loader {
	padding: 20px 15px;
	text-align: center;
}
