@import '../utils/mixins';

.section {
	display: block;
	opacity: 0;
	padding: 40px 0;
	transform: scale(0.95);
	transition: all 0.3s ease-in-out, padding 0s, margin 0s;

	@include tabletUp {
		padding: 50px 0;
	}

	@include desktopUp {
		padding: 60px 0;
	}
}

.sectionActive {
	@extend .section;
	opacity: 1;
	transform: scale(1);
}

.sectionHeader {
	margin-bottom: 15px;

	@include tabletUp {
		margin-bottom: 30px;
	}
}

.sectionInner {
	align-items: flex-start;
	display: flex;
	flex-direction: column;

	@include tabletUp {
		flex-direction: row;
	}
}
