$white: #FFF;
$green: #42BD95;
$purple: #7A246F;
$pinkLight: #FFC2FD;
$pink: #E78DE5;
$pinkDark: #BE0193;
$grey1: #3C3C3C;
$grey2: #F7E6F0;
$grey3: #636363;

$fontHeading: 'Playfair Display', serif;
$fontHeadingAlt: 'Playfair Display SC', serif;
$fontBody: 'Raleway', sans-serif;

$contain: 1440px;
$containMedium: 992px;

$headerDesktopHeight: 100px;
$headerCollapsedHeight: 75px;
